<div class="footer p-2 text-light bg-dark">
    <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
        <li style="flex-grow: 1;">
            <ul class="subflex col" >
                <li>Udemy Business</li>
                <li>Tech on Udemy</li>
                <li>Get the app</li>
                <li>About us</li>
                <li>Contact us</li>
            </ul>
        </li>
        <li style="flex-grow: 1;">
            <ul  class="subflex col" >
                <li>Careers</li>
                <li>Blog</li>
                <li>Help and Support</li>
                <li>Affliate</li>
                <li>Investors</li>
            </ul>
        </li>
        <li style="flex-grow: 1;">
            <ul  class="subflex col" >
                <li>Terms</li>
                <li>Privacy policy</li>
                <li>Cookie settings</li>
                <li>Sitemap</li>
                <li>Accessibility statement</li>
            </ul>
        </li>
        <li style="flex-grow: 4;" class="col">
            <button class="btn btn-outline-light"><i class="bi bi-globe"></i> English</button>
        </li>
    </ul>
    <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4" style="display: flex;justify-content: space-between;align-items: baseline;">
        <div class="col">
            <img style="width: 10vw;" src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="">
        </div>
        <div class="col ">
            <p>© 2022 Udemy, Inc.</p>
        </div>
    </div>
</div>
