<div class="card mb-3">
    <div class="row no-gutters">

        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title fw-bold">Achieve your goals with learning paths</h4>
                <p class="card-text">Create your own learning path or discover paths created by your colleagues.</p>
                <button class="btn1">Find out more</button>
            </div>

        </div>
        <div class="col-md-4">
            <img src="https://s.udemycdn.com/browse_components/my_learning_unit/learning-path-banner-2x-v2.jpg"
                class="card-img w-100">
        </div>
    </div>
</div>