<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse  navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand text-black fw-bold" href="#"> <h6>Cognizant Technology <br> Solutions  US Corporation</h6></a>
        <ul class="navbar-nav mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link " >Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " >Learning paths</a>
          </li>
          <form class="d-flex">
            <input class="form-control" type="search" placeholder="Search for anything" aria-label="Search">
          </form>
          <li class="nav-item">
            <a class="nav-link" href="#">Teach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >My learning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <fa-icon style="font-size: 20px;" [icon]='profile' ></fa-icon> </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <!-- Navbar:2 -->
  <app-nav2></app-nav2>