<nav class="navbar navbar-expand-lg bg-light navbar-light shadow">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse  navbar-collapse" id="navbarTogglerDemo02">
      
        <ul class="navbar-nav mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link" >Cloud Computing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " >Data Science</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#">Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >IT Operations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Leadership & Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Personal Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Project Management & Operations</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>