<div class="container mt-5 mb-5">
    <div class="card  mx-auto d-block">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        <div class="col">
                    <img class="w-100" src="https://img-c.udemycdn.com/course/240x135/1455016_0b2d_2.jpg" alt="">
            </div>
            <div class="col">
                <div class="card-body ">
                    <h1>Build an app with ASPNET Core and Angular from Scratch</h1>
                    <p>A practical example of how to build an application with ASP.NET Core <br> API and Angular from startto finish </p>
                    <p>by Neil Cummings</p>
                    <p>updated November 2021 30 total hours</p>
                    <p>4.6</p>
                </div>
            </div>
        </div>
    </div>
</div>