<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="flex h-100 d-flex mt-3" style="background-color: white;">
                <!-- Card-1  -->

                <div class="card-group">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Practicing With Methods</h6>
                            <small class="text-muted"> <br> c# <br> 10min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Finding exact Survey</h6>
                            <small class="text-muted"> <br> React <br> 12min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Creating user form</h6>
                            <small class="text-muted"> <br> .net <br> 7min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Update the project</h6>
                            <small class="text-muted"> <br> React <br> 14min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Type conversion</h6>
                            <small class="text-muted"> <br> c# <br> 8min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="">
                        <div class="card-body">
                            <h6 class="card-title">Forced Cache Expiration</h6>
                            <small class="text-muted"> <br> .net <br> 6min video</small>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex h-100 d-flex mt-3">
                <!-- Card Group: 2 -->

                <div class="card-group">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Add Event Listeners</h6>
                            <small class="text-muted"> <br> JavaScript <br> 12min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Phototypal inheritence</h6>
                            <small class="text-muted"> <br> JavaScript <br> 9min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Creating route file</h6>
                            <small class="text-muted"> <br> Node.js <br> 15min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Introduction</h6>
                            <small class="text-muted"> <br> .Net <br> 7min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Testing Queries</h6>
                            <small class="text-muted"> <br> Node.js <br> 8min video</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiSOYtiARFDLvYwOrNoUzb9QfbZQ5H7HeeA&usqp=CAU"
                            class="card-img-top" alt="">
                        <div class="card-body">
                            <h6 class="card-title">Filters HTML</h6>
                            <small class="text-muted"> <br> JavaScript <br> 6min video</small>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>